@import "../../styles/variables.scss";

.locationComp {
    width: 70vw;
    background-color: #d8eff8;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    
    .somediv {
        color: $dark-color;
        display: flex;
        gap: 10px;
        h1 {
            margin-bottom: 20px;
        }
    }
    
    .list {
        .listItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px;
            border-radius: 10px;
            
            .locItemInfo {
                display: flex;
                align-items: center;
                gap: 34px;
                color: $dark-color;
                
                .itemNumber {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 28px;
                    font-weight: 200;
                }
                
                .trackedItemName {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            
            .category {
                font-size: 13px;
                font-weight: 300;
                color: $dark-color;
            }

            &:hover {
                background-color: rgb(241, 250, 255);
            }
        }
    }
    
    .ctaTrackedItem {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        
        .addTrackedItemButton {
            min-width: 110px;
            display: flex;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            border-radius: 8px;
            padding: 12px 22px;
            border: none;
            transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
            background: linear-gradient(to right, #70c6cf, #73a9fa);
            justify-content: center;
            align-items: center;
            
            button {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                color: #000000;
                background: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}
