.archivedItems {
    min-height: 85vh;
    max-width: 85vw;
    .info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        
        .buttonDiv {
            min-width: 110px;
            display: flex;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            border-radius: 8px;
            padding: 12px 22px;
            border: none;
            transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
            background: linear-gradient(to right,#70c6cf,#73a9fa);
            justify-content: center;
            align-items: center;
        
            button {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                color: #000000;
                background: none;
                border: none;
                cursor: pointer;

            }
        }
    }
}