.datatable {
    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 13px;

        button {
            background: none;
            border: none;
            cursor: pointer; /* Add cursor pointer on hover */
            transition: transform 0.3s ease; /* Add transition effect */
            
            &:hover {
                transform: scale(1.1); /* Increase size on hover */
            }
        }
    }

    .dataGrid {
        background: #edf9ff;
        padding: 16px;
        .MuiDataGrid-toolbarContainer {
            flex-direction: row-reverse;
        }
        .MuiDataGrid-main {
            .MuiDataGrid-virtualScroller {
                .MuiDataGrid-topContainer {
                    --DataGrid-containerBackground: #edf9ff;
                }
            }
            .MuiDataGrid-scrollbar{
                height: 8px;
            }
        }
    }
    
    .MuiModal-root {
        .MuiBox-root {
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            margin-bottom: 16px;
            color: #333;
        }

        .MuiTextField-root {
            margin-bottom: 16px;
        }

        .MuiButton-containedPrimary {
            background-color: #007bff;
            &:hover {
                background-color: #0056b3;
            }
        }

        .MuiButton-containedSecondary {
            background-color: #dc3545;
            &:hover {
                background-color: #c82333;
            }
        }
    }
}
